<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Demo Blog" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Demo Blog">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="nav">
      <div class="nav__inner">
        <%= link_to "Demo Blog", root_path, class: "nav__brand" %>
        <div class="nav__actions">
          <%= link_to "All Posts", posts_path, class: "btn btn--secondary" %>
          <%= link_to "+ New Post", new_post_path, class: "btn btn--primary", data: { testid: "new-post-link" } %>
        </div>
      </div>
    </nav>

    <main class="page">
      <% if notice.present? %>
        <div class="flash flash--notice"><%= notice %></div>
      <% end %>
      <% if alert.present? %>
        <div class="flash flash--alert"><%= alert %></div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
